<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecular Viewer Example</title>
    <link rel="stylesheet" type="text/css" href="./webcss/index.css">

</head>
<body>
    <h1>Welcome to the Molecular Viewer Selection</h1>
    
    <ul>
        <li><a href="/molstar">Molstar Visualization</a></li>
        <li><a href="/JSmol">JSmol Visualization</a></li>
        <li><a href="/ngl">NGL Visualization</a></li>
    </ul>
</body>
</html>
